XML Actions/api.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
	xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:tns="https://api.mygateglobal.com/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	targetNamespace="https://api.mygateglobal.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">

	<wsdl:types>
		<xsd:schema targetNamespace="https://api.mygateglobal.com/" elementFormDefault="qualified" attributeFormDefault="unqualified">

			<xsd:element name="requestMessage" type="xsd:string" />

			<xsd:complexType name="resMessages">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="description" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="resFspMessage">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="authorizationCode" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="processorResponse" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resMGMessage">
				<xsd:sequence>
					<xsd:element name="cardCountry" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="currencyCode" type="xsd:string" minOccurs="0" maxOccurs="1" />
					<xsd:element name="eciFlag" type="xsd:string" minOccurs="0" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resTdsLookup">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="authRequired" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="liabilityShift" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="ccAuthAllowed" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="eciFlag" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="enrolled" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="acsUrl" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="payload" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="action" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resTdsAuth">
				<xsd:sequence>
					<xsd:element name="code" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="message" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="liabilityShift" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="ccAuthAllowed" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="eciFlag" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="paresStatus" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="signatureVerification" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="xid" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="cavv" type="xsd:string" minOccurs="1" maxOccurs="1" />
					<xsd:element name="action" type="xsd:string" minOccurs="1" maxOccurs="1" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="resWarning">
				<xsd:sequence>
					<xsd:element name="warning" type="tns:resMessages" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="resError">
				<xsd:sequence>
					<xsd:element name="error" type="tns:resMessages" minOccurs="0" />
				</xsd:sequence>
			</xsd:complexType>

			<xsd:element name="responseMessage1" type="xsd:string" />

			<xsd:element name="responseMessage">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string" minOccurs="1" />
						<xsd:element name="uidTransactionIndex" type="xsd:string" minOccurs="1" />
						<xsd:element name="dtRequestReceived" type="xsd:string" minOccurs="1" />
						<xsd:element name="dtResponseSent" type="xsd:string" minOccurs="1" />
						<xsd:element name="warnings" type="tns:resWarning" minOccurs="0" />
						<xsd:element name="errors" type="tns:resError" minOccurs="0" />
						<xsd:element name="mgMessage" type="tns:resMGMessage" minOccurs="0" />
						<xsd:element name="fspMessage" type="tns:resFspMessage" minOccurs="0" />
						<xsd:element name="tdsLookup" type="tns:resTdsLookup" minOccurs="0" />
						<xsd:element name="tdsAuth" type="tns:resTdsAuth" minOccurs="0" />
						<xsd:element name="rptReports" type="xsd:xml" minOccurs="0" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:schema>

	</wsdl:types>

	<wsdl:message name="RequestIn">
		<wsdl:part name="reqParam" element="tns:requestMessage" />
	</wsdl:message>
	<wsdl:message name="RequestOut">
		<wsdl:part name="resParam" element="tns:responseMessage" />
	</wsdl:message>

	<wsdl:portType name="APIService">
		<wsdl:operation name="execRequest">
			<wsdl:input name="execRequestIn" message="tns:RequestIn" />
			<wsdl:output name="execRequestOut" message="tns:RequestOut" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="APIService" type="tns:APIService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="execRequest">
			<soap:operation soapAction="https://api.mygateglobal.com/execRequest" style="document" />
			<wsdl:input name="execRequestIn">
				<soap:body use="literal" namespace="https://api.mygateglobal.com/" />
			</wsdl:input>
			<wsdl:output name="execRequestOut">
				<soap:body use="literal" namespace="https://api.mygateglobal.com/" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="wsAPIService">
		<wsdl:port name="APIPort" binding="tns:APIService">
			<soap:address location="https://local-api.mygateglobal.com/api/api.php" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>